<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partition/head.ejs');%>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <%- include('../partition/nav.ejs'); %> 
    <h1 class="mt-3">Home page</h1>
   <div class="container mt-4">
    <h2>Hello, we are learning express JS</h2>
    
    <a href="/download">Downlaod file</a>
   </div>
</body>
</html>